extends layout
block content
    form(action='/filter')
        select(name='name')
            option(disabled='', selected='', value='') Select One...
            option(value='Starbucks') Starbucks
            option(value='1369 Coffee House') 1369 Coffee House
        input(type='submit', value='Submit')
    #map
    script.
        var myData = !{JSON.stringify(jsonData)};
        //- create variable to hold map element, to initial map
        var map = L.map('map', { center: [42.375562, -71.106870], zoom: 14});
        //- add openstreet map tile layer to map element
        L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
        	attribution: '© OpenStreetMap'
        }).addTo(map);
        //- add JSON to map
        L.geoJson(myData, {
            onEachFeature: function (feature, layer) {
                layer.bindPopup(feature.properties.f2);
            }
        }).addTo(map);
